body {
    margin: 0;
    padding: 0;
}

#sidebar {
    position: fixed;
    top: 31%;
    left: 50px; 
    transform: translateY(-50%);
    background-color: rgb(111, 196, 253);
    padding: 10px;
    border-radius: 10px; 
    display: none;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

#sidebar a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
}

#sidebar a:hover {
    color: #000000;
}

section {
    padding: 20px;
}

section.active {
    background-color: rgb(106, 152, 243);
}